[submodule "source/LookupEngine"]
	path = source/LookupEngine
	url = https://github.com/LookupEngine/LookupEngine.git

[submodule "source/LookupEngine.UI"]
	path = source/LookupEngine.UI
	url = https://github.com/LookupEngine/LookupEngine.UI.git